@{
  Layout = "_Layout";
}

@using Factory.Models

<h1>Dr. Sillystringz's Factory</h1>
<p>We operate a variety of state-of-the-art machines operated by specialized engineers. See our list of machines and qualified engineers below and click to see more details.</p>

<ul class="menu-links">
  <li>@Html.ActionLink("Engineers","Index","Engineers")</li>
  <li>@Html.ActionLink("Machines","Index","Machines")</li>
</ul>